@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes textFade {
  0% {
    color: #fc4cda;
  }
  50% {
    color: #3613fa;
  }
  100% {
    color: #fc4cda;
  }
}

.wesbitesHeading,
.CustomizeHeading,
.WidgetsHeading {
  font-weight: bold;
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(270deg, #fc4cda 0%, #3613fa 100%);
  background-size: 300% 100%;
  animation: textFade 3s ease infinite;
}

.wesbitesHeading {
  font-size: 140px;
  font-weight: bold;
}
@media (max-width: 400px) {
  .wesbitesHeading {
    font-size: 100px;
  }
}

.shopsBuilder {
  color: #ff96aa;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(100deg, #ff96aa 0%, #ce082c 100%);
  font-size: 30px;
  font-weight: 900;
}

.headerBuilder {
  color: #fa89ca;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(96deg, #fa89ca 0%, #da6cab 100%);
  font-size: 30px;
  font-weight: 900;
}